@font-face {
    font-family: "Maple Mono";
    font-weight: 100;
    font-style: normal;
    src: url("./MapleMono-Thin.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 100;
    font-style: italic;
    src: url("./MapleMono-ThinItalic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 200;
    font-style: normal;
    src: url("./MapleMono-ExtraLight.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 200;
    font-style: italic;
    src: url("./MapleMono-ExtraLightItalic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 300;
    font-style: normal;
    src: url("./MapleMono-Light.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 300;
    font-style: italic;
    src: url("./MapleMono-LightItalic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 400;
    font-style: normal;
    src: url("./MapleMono-Regular.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 400;
    font-style: italic;
    src: url("./MapleMono-Italic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 500;
    font-style: normal;
    src: url("./MapleMono-Medium.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 500;
    font-style: italic;
    src: url("./MapleMono-MediumItalic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 600;
    font-style: normal;
    src: url("./MapleMono-SemiBold.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 600;
    font-style: italic;
    src: url("./MapleMono-SemiBoldItalic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 700;
    font-style: normal;
    src: url("./MapleMono-Bold.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 700;
    font-style: italic;
    src: url("./MapleMono-BoldItalic.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 800;
    font-style: normal;
    src: url("./MapleMono-ExtraBold.woff2");
}

@font-face {
    font-family: "Maple Mono";
    font-weight: 800;
    font-style: italic;
    src: url("./MapleMono-ExtraBoldItalic.woff2");
}
